node_modules/
.expo/
dist/
web-build/
.eas-inspect-archive/
eas-build-*.txt

android/.gradle/
android/build/
android/app/build/
android/**/.cxx/

*.zip
*.log
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.tsbuildinfo
